@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UploadFileViewModel
@{
}

<style>
    #file-upload-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display:inline-block;
        width:500px;
    }
</style>

<div class="col-md-10 offset-1">
    <div class="card">
        <div class="card-body">
            <form asp-controller="File" asp-action="UploadFile" method="post" enctype="multipart/form-data" class="form-horizontal border-class">
                @*<div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>*@
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file-upload" asp-for="FileUpload" accept=".pdf">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>

                </div>
                <div>
                    <span id="file-upload-name" style="display:none;"></span>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2">Category</label>
                    <div class="col-sm-10">
                        <select asp-for="CategoriesID" multiple asp-items="@ViewBag.CategoryList" class="form-control"></select>
                    </div>

                </div>
                <div style="float:right" class="form-group">
                    <input type="submit" class="btn btn-warning form-control" />
                </div>

            </form>
        </div>
    </div>
   
</div>
<div style="margin-top:10px;">
    @foreach (var category in Model.Categories)
    {
    <a asp-action="Index" asp-route-categoryId="@category.Id" asp-controller="File">
        <span class="@category.Display">@category.Name</span>
    </a>
    }
</div>
<table class="table table-responsive table-bordered table-striped" style="margin-top:30px;">
    <thead>
        <tr>
            <th style="width:5%;" class="text-center">STT</th>
            <th style="width:50%" class="text-center">File</th>
            <th style="width:15%" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (FileStorage file in Model.Files)
        {
            <tr>
                <td class="text-center">@(Model.Files.IndexOf(file) + 1)</td>
                <td>
                    <a asp-action="View" asp-route-name="@file.StorageFileName" asp-controller="File" target="_blank">@file.OriginFileName</a> 
                <br />
                    @foreach (var category in file.Categories)
                    {
                <span class="@category.Category.Display">@category.Category.Name</span>
                    }
                </td>
                <td>
                    <a class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Sửa">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Xóa" asp-action="Delete" asp-route-filename="@file.StorageFileName" 
                       asp-controller="File" onclick="return confirm('Are you sure want to delete this?');">
                        <i class="fa fa-trash "></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addPositionsLabel">Add positions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form asp-action="Create">
                <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                <div class="form-group">
                    <label asp-for="PositionName"></label>
                    <input asp-for="PositionName" class="form-control" />
                    <span asp-validation-for="PositionName" class="text-danger"></span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-save="modal" id="save">Save</button>
        </div>
    </div>
</div>*@
@section Scripts {
    <script>
        $('#file-upload').change(function () {
            var file = $('#file-upload')[0].files[0].name;
            console.log(file);
            $('.custom-file-label').text(file);
            //$('#file-upload-name').show();
        });

        $(document).ready(function () {
            $('#CategoriesID').select2({
                theme: 'bootstrap'
            });
        });
    </script>

}

